* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div.title {
  display: flex;
  height: 150px;
  background-color: #0a2c6b;
  color: aliceblue;
  font-size: 38px;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
}
div.login {
  display: flex;
  height: 150px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  flex-direction: column;
}

div.putInfo {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-content: center;
}
div.button {
  position: absolute;
  right: 44%;
}
form {
  display: block;
  font-family: "Noto Sans TC", sans-serif;
}
input {
  height: 20px;
}
button {
  height: 25px;
}
