* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: beige;
  width: 100%;
  padding: 1rem;
  font-size: 20px;
}

div.container {
  display: flex;
}
/*將list 前面圓點調掉 ul 本來是橫排*/
ul {
  list-style: none;
  display: flex;
}

label img {
  position: absolute;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  right: 0;
}
/* 將checkbox 的方框消除 */
input {
  display: none;
}

/* 把選單隱藏起來，下面才顯示 */
.menu {
  max-height: 0px;
  overflow: hidden;
}
li {
  display: inline-block;
  position: relative;
}

input:checked ~ .menu {
  max-height: 310px;
  display: inline-block;
  /* 調整畫面靠右的寬度 */
  margin-right: -15px;
  padding-top: 40px;
}

.box2 {
  position: absolute;
  right: 0px;
}

header ul li {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  display: block;
}

div.container2 {
  display: flex;
  height: 300px;
  background-color: lightblue;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

/* pic container */
div.container3 {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
/* 圖片設100%寬才會跟著div大小走 */
img {
  height: auto;
  width: 100%;
  margin: 0;
  display: block;
}

.pho {
  height: 185px;
  overflow: hidden;
}
.boxa {
  margin: 10px 15px;
  width: 280px;
  height: 205px;
}

.text {
  margin: 0px;
  height: 25px;
  background-color: lightgreen;
  text-align: center;
}

@media (max-width: 1200px) {
  div.contain3 {
    display: flex;
    flex-wrap: wrap;
  }
  .boxa {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 44%;
    height: 212px;
    margin-top: 12px;
    text-align: center;
  }
  /*因為這個div會打到text div 所以設定高度*/
  div.pho {
    height: 180.05px;
    overflow: hidden;
  }
}

/* 設定選單出來的時間在哪裡 */
@media (max-width: 600px) {
  .boxa {
    width: 90%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
  }
  ul {
    flex-direction: column;
  }
  div.container2 {
    font-size: 37px;
  }
}
/* 發現設定600px item1 &2會跑出來 因此設定601px */
@media screen and (min-width: 600px) {
  label {
    display: none;
  }
  .menu {
    float: right;
    clear: none;
    max-height: 35px;
  }
}
